*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 2vw 0vw;
}
.navbar ul li{
    font-family: century;
    font-size: 1vw;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 2vw 5vw;
    transition: all 1s ease;
}
.navbar ul li a:hover{
    background-color:white;
    color:black;
    box-shadow: 0 0 .5vw black;
}

/* home */
 
.home{
    display: flex;
    flex-direction: column;
    height: 20vw;
    justify-content: center;
    align-items: center;
    color: black;
}

.home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background : url('123.jpg') no-repeat center center/cover;
    height: 435%;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

/*.home img{
   height: 0%;
    width: 20%;
    border-radius: 70%;
}*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 40%;

}

.headings{
    font-family: century;
    font-size: 9vw;
    text-align: center;
    margin: -9vw 2vw;   
}

/* about */

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic{
    display: flex;
}

#pic img{
    width: 575px;
    height: 400px;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;

}

#intro p{
  font-size: 1.5vw;
}

#about img{
    height: 0%;
     width: 20%;
     border-radius: 70%;
 }


 /* project */
 .projects {
    background-color:transparent;
    padding: 6vw 0;
    margin-top: .5vw;
    font-size: 2vw;
  }
  
  .project-pic {
    width: 70%;
    height: 70%;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects-title {
    text-align: center;
    margin-bottom: .5vw;
  }
  
  .project-container {
    text-align: center;
    width: 20vw;
     padding: 2vw;
  }
  .project-container p {
    padding: 3vw;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
    font-size: 2vw;
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
    font-size: 1vw;
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 .5vw 2vw var(--primary-shadow);
    padding: 2vw;
    margin: 3vw;
  }
  .project-link{
    font-size: 1.5vw;
  }

  /* skills */
  .skills {
    max-width: 50vw;
    margin: auto;
    text-align: center;
    margin-top: 5vw;
  
  }
  
  .skill-header {
    margin-bottom: .5vw;
    margin-left: 5vw;
  }
  
  .skills-wrapper img {
    padding: 1vw;
  }
  
  .icon {
    width: 10vw;
    height: 10vw;
  }
  .icon-card {
    background-color: #fff;
    border-radius: 5vw;
    box-shadow: 0 .5vw 1vw var(--secondary-shadow);
    padding: 5vw;
    margin: .5vw;
    margin-left: 5vw;
  }

   /* contact */
   .contact {
    max-width: 40vw;
    margin: auto;
    text-align: center;
    margin-top: 5vw;
  
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 2vw;
    border: .5vw solid #ccc;
    border-radius: .5vw;
    box-sizing: border-box; 
    margin-top: 1vw;
    margin-bottom: 2vw;
    resize: vertical
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 1vw 2vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2vw;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 1vw;
    background-color: #f2f2f2;
    padding: -23vw;
  }
  footer {
    font-size: 1vw;
    color: white;
    padding: .1vw;
    text-align: center;
    margin: 2vw 0 0;
    font-size: 1vw;
  }
  footer a{
    color: white;
  }